<%- include("./partials/header") -%>

<input class="c-checkbox" type="checkbox" id="checkbox">
<div class="c-formContainer">
  <form class="c-form" action="/weather" method="post">
    <input class="c-form__input" placeholder="City Name" name="cityName" type="text">
    <label class="c-form__buttonLabel" for="checkbox">
      <button class="c-form__button" type="submit" style="color: black;">Search</button>
    </label>
    <label class="c-form__toggle" for="checkbox" data-title="Enter Your City"></label>
  </form>
</div>

<%- include("./partials/footer") -%>

